@containerWidth:100px;

.rev-border {
	border-width: 1px;
	border-style: solid;
	border-color: #157FCC;
}

.rev-container-fit {
	width: 500px;
	margin-left: 5px;
	float: left;
	overflow:auto;
	padding: 5px;
	height: @containerWidth;
}

.rev-container {
	height: @containerWidth;
	width: 300px;
	float: left;
	margin-left: 5px;
	overflow:auto;
	padding: 5px;
}

.rev-list-header {
	width: 100%;
	padding: 5px;
	background-color: #e5e5e5;
	margin-bottom: 5px;
	margin-left: 0px;
	display: inline-block;
}

.rev-img-small {
	width: 100px;
	height: 100px;
}

.rev-header {
    color: #1A1A1A;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
    font-size:16pt;
    font-weight: 100;
    line-height: 1.25;
    margin: 0.25em 0 0.75em;
}

.rev-no-border-grid .x-grid-cell,
.rev-no-border-grid .x-grid-body {
	border-bottom: 0;
    border-top: 0;
    border: none !important;
}

.rev-spam-submit{
	cursor: pointer;
}

.rev-spam-submit:hover{
	text-decoration: underline;
}

.clickableTitle{
	text-decoration: underline;
	cursor: pointer;
}
