@font-face {
    font-family: 'wf_SegoeUILight';
    src: url('font/latest.eot');
    src: url('font/latestFix.eot') format('embedded-opentype'),
         url('font/latest.woff') format('woff'),
         url('font/latest.ttf') format('truetype'),
         url('font/latest.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
#wrap{
	width:100%;
	margin:0 auto;
	
}
#main{

	overflow:hidden;
}
#header{
	height:150px;
	position: relative; 
	border-bottom-style:solid;
	border-top-style:solid;
	border-color:#E0E0E0; 
	border-width:1px;
	background-repeat:no-repeat;
	vertical-align:middle;
	margin-top:10px;

	margin-right:10px;
	font-size:22pt;
	color:#FFFFFF;
}
#nav{
	float:left;
	width:240px;
	height:auto;
   	min-height:500px;
   	margin-left:20px;
   	margin-top:20px;
}
#content{
	overflow:hidden; 
	height:auto;
	margin-top:10px;
	min-height:500px;
	border-left-style:solid;
	border-color:#E0E0E0; 
	border-width:1px;

}
.blue-wrap{
	height:150px;
	background: none repeat scroll 0 0 #1570A6;
	width:100%;
	color:#FFFFFF;
	text-align:center;
	margin-top:10px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
	font-weight: 300;
	line-height: 1.25;
	margin: .25em 0 .75em;
}

.blue-bg{
	background: none repeat scroll 0 0 #1570A6;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
	font-weight: 300;
}
a {
color: #1570a6;
text-decoration: none;
}
a:hover{
text-decoration: underline;
}

.list {
list-style-type: none;
font-size:16pt;
margin-left:20px;
}
.position {
list-style: none;
font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
}
#footer{
	border-top-style:solid;
	border-color:#E0E0E0; 
	color:rgb(111, 111, 111);
	border-width:1px;
	width:1000px;
	text-align:center;
	margin-top:10px;
	font-size:10pt;
	margin:0 auto;
	font-family: "Tahoma","Verdana","Arial","sans-serif";
}
#under-footer-left{

	width:20%;
	height:110px;
	float:right;
	font-size:16pt;
	text-align:right;
	margin-top:20px;
	margin-right:50px;

	font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
}

.menu {
    color: #1A1A1A;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
    font-size:22pt;
    font-weight: 100;
    line-height: 1.25;
    margin: 0.25em 0 0.75em;
}
#under-footer{

	width:70%;
	height:110px;
	float:right;
	margin-top:20px;
	margin-right:20px;
	
	font-size:16pt;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
}
.pics{
	margin:auto;
	vertical-align:bottom;
	text-align:center;
}
#logo{

	width:1270px;
	white-space: nowrap;
	overflow:hidden;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom:auto;
	margin-top:20px;
}

html, body { 
margin: 0; 
padding: 0;
background-color:#eee;
font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
}
#page{
	padding:50px;
	height:auto;
}

.top-bar{
	text-align:right;
	padding-top:10px;
	margin-right:30px;
}

.footer-header{
	font-size:18pt;
}


.rev-col-wrap{
	
}
.rev-img-small{
	width:100px;
	height:100px;
}
.rev-border{
	border-width:1px;
	border-style:solid;
	border-color:#157FCC;
}
.rev-list-header{
	width:100%;
	padding:5px;
	background-color:#e5e5e5;
	margin-bottom:5px;
	margin-left:0px;
}
.rev-col{
		float:left;
}
.rev-container{
	height:100px;
	width:300px;
	float:left;
	margin-left:5px;
	padding:5px;
}
.rev-container-fit{
	width:468px;
	margin-left:5px;
	float:left;
	padding:5px;
	height:100px;
}

.rev-list-links{
	clear:both;
	padding-top:5px;
	padding-left:105px;
}
.rev-list-links-item{
	margin:10px;
	margin-right:5px;
}
.rev-box{
	float:left;
	padding:10px;
	margin-right:5px;
	background-color:#157FCC;
	color: #FFFFFF;
    font-family: arial,helvetica,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}
.rev-box-button{
	text-decoration:underline;
	cursor:pointer;
}

.rev-img-list{
	height:200px;
}

.rev-img-details{
	height:200px;
	max-width: 240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rev-boxes{
	display: block;
	clear: both;
	padding-top: 10px;
}
.rev-product-spec{
}

.rev-product-boxes{
	margin-bottom: 10px;
	display: inline-block;
}

.rev-review-mark{
	height: 90px;
	width: 90px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px; 
	border-radius: 45px;
	border: 2px solid #CECECE;
	text-align: center;
	line-height: 90px;
	font-size: 25pt;
	background-color: white;
}

.rev-user-container{
	text-align: center;
}

.rev-review-content{
	height: 130px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #CECECE;
	background-color: white;
}

.rev-usefulness-progressbar {
	margin-top: 5px;
    background-color: red;
    border-radius: 5px;
}
    
.rev-usefulness-inner {
    background-color: green;
    height: 10px;
    border-radius: 5px;
}

.rev-user-small-image{
	width: 120px;
}

.rev-user-name{
	font-size: 18pt;
	color: #1570A6;
	margin-bottom: 5px;
	margin-top: 10px;
}

.rev-user-rank{
	
}

.rev-review-panel{
	margin-right: 5px;
}

.rev-review-content,
.rev-container-fit{
white-space: pre-wrap; /* CSS3 */
white-space: -moz-pre-wrap; /* Firefox */
white-space: -pre-wrap; /* Opera <7 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* IE */
}
