@import "top-bar.less";
@import "logo-bar.less";
@import "content.less";
@import "footer.less";
@import "global.less";
@import "subscriptions.less";
@import "category-tree.less";
@import "product-list.less";
@import "start.less";
@import "user-panel.less";
@import "search-panel.less";
@import "custom-buttons.less";
@import "rating-widget.less";

@font-face {
    font-family: 'wf_SegoeUILight';
    src: url('font/latest.eot');
    src: url('font/latestFix.eot') format('embedded-opentype'),
         url('font/latest.woff') format('woff'),
         url('font/latest.ttf') format('truetype'),
         url('font/latest.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	color: #1570a6;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

html, body { 
	margin: 0; 
	padding: 0;
	background-color:#eee;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
}
/*
.x-panel{
	border-radius: 20px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	box-shadow: 0.33px 2px 8px rgba(0, 0, 0, 0.3);
}

 .x-btn-default-small  {
background-image: none;
background-color: #e7e7e7;
	border: 1px #ddd solid;
	border-radius: 6px;
	width: 130px;
	font-size: 16px;
	height: 30px;
	box-shadow: 0.33px 2px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 8px;
}
.x-btn-inner{
padding-top: 2px !important;
color: #000 !important;
display: block;
font-family: Arial,Helvetica,sans-serif !important;
font-weight: normal !important;
font-size: 14px !important;
}

.x-btn-button{
height: 28px !important;
}
*/