.rev-col {
	float: left;
}

.rev-list-links {
	clear: both;
	padding-top: 5px;
	padding-left: 105px;
}

.rev-list-links-item {
	margin: 10px;
	margin-right: 5px;
}

.rev-box {
	float: left;
	padding: 10px;
	margin-right: 5px;
	background-color: #157FCC;
	color: #FFFFFF;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	text-align: center;
}

.rev-box-button {
	text-decoration: underline;
	cursor: pointer;
}

.rev-img-list {
	height: 200px;
}

.rev-review-mark {
	height: 90px;
	width: 90px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	border: 2px solid #CECECE;
	text-align: center;
	line-height: 90px;
	font-size: 25pt;
	background-color: white;
}

.rev-user-container {
	text-align: center;
}

.rev-reviewList-content {
	height: 130px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #CECECE;
	background-color: white;
}

.rev-usefulness-progressbar {
	margin-top: 5px;
	background-color: red;
	border-radius: 5px;
}

.rev-usefulness-inner {
	background-color: green;
	height: 10px;
	border-radius: 5px;
}

.rev-user-small-image {
	width: 120px;
}

.rev-user-name {
	font-size: 18pt;
	color: #1570A6;
	margin-bottom: 5px;
	margin-top: 10px;
}

.rev-user-name-small {
	font-size: 13pt;
	color: #1570A6;
	margin-bottom: 5px;
	margin-top: 10px;
}

.rev-user-rank {
	
}

.rev-review-panel {
	margin-right: 5px;
}

.rev-reviewList-content,.rev-container-fit,.rev-review-content,.rev-comment-content
	{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

.rev-comments-user-image {
	width: 80px;
}

.rev-comment-content {
	min-height: 80px;
	border: 1px solid #CECECE;
	background-color: white;
	padding: 5px;
}

.rev-comment-textarea {
	margin: 5px 10px 10px;
}

#commentSubmitButton {
	margin-left: 10px;
	margin-top: 5px;
}

.rev-comment-submit-form {
	border-color: #C0C0C0;
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
}

.rev-evaluation-box {
	width: 100%;
	text-align: center;
}

.rev-overal-mark-in {
	background-color: #1570A6;
	border-radius: 8px;
	border: 2px solid #075685;
	font-size: 40px;
	text-align: center;
	color: white;
	padding: 5px;
}

.rev-overal-mark-out {
	padding: 10px;
}

.rev-review-usefulness {
	padding: 10px;
	background-color: #1570A6;
	border-radius: 8px;
	border: 2px solid #075685;
	color: white;
	text-align: center;
}
